/*
*{
    border: 1px;
    border-style: dotted;
}
*/

body{
    background-color: #f3f4f6;
    color: #2b2b2b;
}

header {
    background-color: #123B7A;
    color: white;
    text-align: center;
    padding: 30px;
}

footer{
    background-color: aquamarine;
    color: black;
    text-align: center;
    padding: 20px;
}

header h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
}

nav{
    background-color: white;
    text-align: center;
    padding: 20px;
}

.container{
    max-width: 760px;
    padding: 20px;
    margin: 30px auto;
}

